@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-gradient {
  background: rgba(132, 105, 214, 1);
  background: linear-gradient(
    to bottom right,
    rgb(207, 84, 234),
    rgba(32, 140, 210, 1),
    rgba(132, 105, 214, 1)
  );
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media (prefers-reduced-motion: reduce) {
  .hero-gradient {
    animation: none;
  }
}
